## Project: Data Analysis for Palmer Penguin data
- **Source**: Horst AM, Hill AP, Gorman KB (2020). palmerpenguins: Palmer Archipelago (Antarctica) penguin data. R package version 0.1.0. Artwork by @allison_hors
- **URL**: 'https://gist.githubusercontent.com/slopp/ce3b90b9168f2f921784de84fa445651/raw/4ecf3041f0ed4913e7c230758733948bc561f434/penguins.csv'
- **Date**: 29/11/24
- **Goal**: Learn the basis of descriptive statistics

In [3]:
# Step 0. Load libraries and custom modules
# Data -----------------------------------------------------------------
import pandas as pd
import numpy as np
# Graphics -------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

### 1. Data loading
**Objective**: Obtain the data from source and get a first glimpse of their properties and presentation

In [4]:
# Step 1. Load data
# 1.1 Read the dataset from url
# Credits:
# Horst AM, Hill AP, Gorman KB (2020). palmerpenguins: Palmer
# Archipelago (Antarctica) penguin data. R package version 0.1.0.
# https://allisonhorst.github.io/palmerpenguins/
url = 'https://gist.githubusercontent.com/slopp/'+ \
      'ce3b90b9168f2f921784de84fa445651/raw/' + \
      '4ecf3041f0ed4913e7c230758733948bc561f434/penguins.csv'
df_raw = pd.read_csv(url)

<img src='https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png' width=400/>

**Image 1.** Penguins drawing. Artwork by @allison_hors.

In [5]:
# 1.2 Get basic info
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [6]:
# 1.3 Get a reproducible sample
df_raw.sample(10,random_state=2025)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
172,173,Gentoo,Biscoe,50.2,14.3,218.0,5700.0,male,2007
254,255,Gentoo,Biscoe,47.2,15.5,215.0,4975.0,female,2009
69,70,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
236,237,Gentoo,Biscoe,44.9,13.8,212.0,4750.0,female,2009
258,259,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,female,2009
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
264,265,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,female,2009
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
124,125,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009

<img src="https://allisonhorst.github.io/palmerpenguins/reference/figures/culmen_depth.png" width=400/>

**Image 2.** Penguins dimensions. Artwork by @allison_hors.

### 2. Data preprocessing
**Objectives**: Perform the data cleaning, data transformation and data reduction steps to avoid data mistmatching, noisy data or data not wrangled

In [7]:
# Step 2. Prepara the dataset for analysis
# 2.1 Manage NaN values
df_baking = df_raw.copy()
df_baking = df_baking.drop(["rowid", "year"], axis=1) # con la funcion drop eliminamos una columna
df_baking = df_baking.dropna(subset=["bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g", "sex"])
df_baking["island"] = pd.Categorical(df_baking["island"]) #pd.categorical combierte una columna a categorias.
df_baking["sex"] = pd.Categorical(df_baking["sex"]) #pd.categorical combierte una columna a categorias.
df_baking["species"] = pd.Categorical(df_baking["species"]) #pd.categorical combierte una columna a categorias.
df = df_baking.copy()

### 3. Exploratory Data Analysis
**Objective**: Summarize the main characteristics of the dataset using descriptive statistics and data visualization methods

In [8]:
# 3.1 Get numerical and categorical summaries
media = df["body_mass_g"].mean() 
mediana = df["body_mass_g"].median() 
print(f"media:{media:.2f}, mediana:{mediana:.2f}")

media:4207.06, mediana:4050.00

In [9]:
df["body_mass_g"].std()

np.float64(805.2158019428964)

In [10]:
mayor = df["body_mass_g"].max()
menor = df["body_mass_g"].min()
rango = mayor - menor
rango

np.float64(3600.0)

In [11]:
display(df.describe(include="number").T) # rango intercuartilico = Q3(75%) -Q1(25%)
display(df.describe(include="category").T)

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,333.0,43.992793,5.468668,32.1,39.5,44.5,48.6,59.6
bill_depth_mm,333.0,17.164865,1.969235,13.1,15.6,17.3,18.7,21.5
flipper_length_mm,333.0,200.966967,14.015765,172.0,190.0,197.0,213.0,231.0
body_mass_g,333.0,4207.057057,805.215802,2700.0,3550.0,4050.0,4775.0,6300.0

        count unique     top freq
species   333      3  Adelie  146
island    333      3  Biscoe  163
sex       333      2    male  168

In [12]:
# 3.2 Count categorical values, in a stratified manner
df["sex"].value_counts(normalize=True)
df[["species", "island"]].value_counts()

species    island
Gentoo     Biscoe       119
Chinstrap  Dream         68
Adelie     Dream         55
           Torgersen     47
           Biscoe        44
Name: count, dtype: int64

In [13]:
# 3.3 Create a cross table
pd.crosstab(df["species"], [df["species"], df["island"]]) # el primer argumento es la unidad de conteo, y el segundo es la lista de variables a cruzar.

species   Adelie                 Chinstrap Gentoo
island    Biscoe Dream Torgersen     Dream Biscoe
species
Adelie        44    55        47         0      0
Chinstrap      0     0         0        68      0
Gentoo         0     0         0         0    119

In [14]:
# 3.4 Calculate statistics by species
df.groupby("species",observed=False)["body_mass_g"].agg(["mean","median","std","max","min"])

                  mean  median         std     max     min
species
Adelie     3706.164384  3700.0  458.620135  4775.0  2850.0
Chinstrap  3733.088235  3700.0  384.335081  4800.0  2700.0
Gentoo     5092.436975  5050.0  501.476154  6300.0  3950.0

# ME FUI EN ESTE MOMENTO. FALTABA UN POCO MENOS DE UNA HORA DE CLASE.

In [15]:
# 3.5 Show the histograms

In [16]:
# 3.6 Show the boxplot of the numerical values

# LO SIGUIENTE SE CONTINUO EN LA PRIMER PARTE DE LA CLASE 10: FECHA 2025.10.1

In [17]:
# 3.7 Show the bivariate analysis

In [18]:
# 3.8 Calculate probabilities for continuous data